/* Estilos personalizados */

body {
  background: linear-gradient(to right, #6a11cb, #2575fc); /* Fundo gradiente */
  color: #ffffff; /* Texto branco */
}

.card {
  background-color: rgba(
    255,
    255,
    255,
    0.9
  ); /* Fundo branco semitransparente */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra sutil */
  border-radius: 15px; /* Bordas arredondadas */
}

input.form-control,
.input-group-text {
  background-color: rgba(
    255,
    255,
    255,
    0.8
  ); /* Campos de entrada semitransparentes */
  border: none;
}

.btn-primary {
  background-color: #ff5a5f; /* Cor personalizada para o botão */
  border: none;
}

.btn-primary:hover {
  background-color: #ff3b3b; /* Cor personalizada ao passar o mouse */
}
